body {
    font-family: 'Roboto', sans-serif;
}

div {
    width:16.7%;
    color:white;
}

.title {
    font-size:38pt;
    font-weight:300;
}

.text {
    font-weight:100;
}

#left_up {

width:8.35%;
background-color: #2780ff;
}

#left_up2 {
    background-color: #d5b076;
}

.read_more {
    border-radius: 32px;

}
input {
    border-radius: 32px;
}
.search {
    border-radius:32px;
    border:5px solid;

}